.active {
  background: red;
}

header {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

header div {
  width: 10%;
}

.header-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 0 2% 0 1%;
}

.shop-user{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.shop-user:first-child {
  background-color: red !important;
  width: 100px !important;
}
