.active {
  background: red;
}

header {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

header div {
  width: 3%;
}

.header-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 0 2% 0 1%;
}

.shop-user {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  padding-right: 5%;
}

.shop-user div:first-child {
    color: red;
}

.shop-user div:last-child {

}

nav{
  display: flex;
  align-items: center;
  justify-content: center;

}
nav div{
  padding: 5% 30%;
}
