*{
  box-sizing: border-box;
}

.active {
  background: red;
}

header {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

header div {
  width: 3%;
}

.header-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 0 2% 0 1%;
}

.shop-user {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 5%;
  width: 300px;
}

.shop-user div:first-child {
    color: red;
    border-right: 1px solid black;
}

.shop-user div:last-child {
    color: red;
    border-left: 1px solid black;
}

.shop-user >div {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

nav{
  display: flex;
  align-items: center;
  justify-content: center;
}
nav div{
  padding: 5% 30%;
  display:flex;
  align-items: center;
  justify-content: center;
}
